html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
	background-color: var(--page-bg);
	color: var(--text-color);
	font-family: var(--font-family);
	font-size: 18px;
	font-weight: normal;
	position: relative;
	overflow-x: hidden;
}

.wrapper {
	height: 100%;
}

img {
	display: inline-block;
}

a {
	color: inherit;
}

.section {
}

.text {
}


