:root {
	--container-width: 1440px;
	--container-padding: 20px;

	--font-family: 'Sansation', sans-serif;
	--font-second: 'Montserrat', sans-serif;

	--text-size: 22px;
	--description-size: 28px;
	--btn-size: 18px;

	--page-bg: #fff;

	--text-color: #fff;
	--text-color-black: #0c1f28;
	--link-color: #091920;
	--title-color-black: #192a31;

	--stroke-black: #235d77;
	--stroke-light: #fff;
}
